<?xml version="1.0"?>
<!-- This file configures the control plugins in the bumperbot_gazebo.xacro file -->
<robot name="ROSMASTER_X1" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Hardware interface for controller manager -->
    <ros2_control name="RobotSystem" type="system">
        <!-- If ROS2 Humble then use this plugin-->
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- If higher than ROS2 Humble (Iron, Jazzy,...), then use this plugin-->
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <xacro:macro name="x1_control_joint" params="joint_name">
            <joint name="${joint_name}">
                <command_interface name="velocity">
                    <param name="min">-5</param>
                    <param name="max">5</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
        </xacro:macro>

        <xacro:x1_control_joint joint_name="front_right_joint"></xacro:x1_control_joint>
        <xacro:x1_control_joint joint_name="front_left_joint"></xacro:x1_control_joint>
        <xacro:x1_control_joint joint_name="back_right_joint"></xacro:x1_control_joint>
        <xacro:x1_control_joint joint_name="back_left_joint"></xacro:x1_control_joint>
        <!-- <joint name="front_right_joint">
            <command_interface name="velocity">
                <param name="min"> -5</param>
                <param name="max"> 5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="front_left_joint">
            <command_interface name="velocity">
                <param name="min"> -5</param>
                <param name="max"> 5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="back_right_joint">
            <command_interface name="velocity">
                <param name="min"> -5</param>
                <param name="max"> 5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="back_left_joint">
            <command_interface name="velocity">
                <param name="min"> -5</param>
                <param name="max"> 5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint> -->

    </ros2_control>
</robot>